---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
   {% include head.html %}
   {% include head/custom.html %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Allow search engines to index the site -->
   <meta name="robots" content="index, follow">

   <!-- Basic information -->
   <title>Xintong Wang - Fudan University</title>
   <meta name="description" content="Xintong Wang is a Ph.D. Candidate at the School of Economics, Fudan University. His research interests lie in the intersection of Insurance, Health Economics, and Information Economics.">
   <meta name="keywords" content="Xintong Wang, Fudan University, Insurance, Health Economics, Public Policy, CCSMI, China Insurance, Health Insurance, Economics">
   <meta name="author" content="Xintong Wang">
   <meta http-equiv="Content-Language" content="en">
  </head>

   <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
